.container{
    width:400px;
    position: absolute;
   overflow: hidden;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-radius:8px;
    left:0;top:30px;right:0;
    margin:auto;

}
nav{
    font-size: 50px;
    text-align: center;
}
.box{
    /*width:100%;border:1px solid #ccc;*/
}
.box input{
    /*width:90%;border:none;border-bottom: 1px solid #ccc;*/
    height:40px;
}
.box input:focus{
    outline: none;
}
.input-group-addon{
    line-height: 46px;
}
ul {
    margin: 0;
    overflow: hidden;
    padding-left: 0;
}
li{
   height: 50px;
    line-height: 50px;
}
li span{
    float: left;
    margin:0 20px;
}
/*li span:first-child{*/
    /*width:10px;height: 10px;*/
    /*border:1px solid  #000;*/
    /*border-radius: 50%;*/
/*}*/
ul li{
    list-style: none;
    font-size: 20px;
    position: relative;
}
ul li:nth-child(1){
    margin-top: 10px;
}
ul li span:nth-child(2){
    position: absolute;
    left: 150px;
}
.finish{
    color: #2ac845;
    line-height: 50px;
    position: absolute;
    left: 0px;
}
.red{
    /*background:red;*/
    color: #f00;
}
.del{
    cursor: pointer;
    font-size: 20px;
    line-height: 50px;
    margin-left: 0px;
    position: absolute;
    right: 0;
}
.del:hover{
    color: #f00;
}
.btn-group{
    margin-top: 20px;
    height: 50px;
    /*margin: auto;*/
}
.btn{
    height: 100%;
    width: 80px;

}