<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>vue</title>
	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/vue.css" />
	<script src="js/jquery.min.js"></script>
	<script src="js/vue.min.js"></script>
</head>
<body>
	<div class="bigbox">
		<div class="box">
			<!--输入框-->
			<div class="form-group search shuru">
               <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                   <div class="input-group">
                       <div class="input-group-addon">
                          <span class="glyphicon glyphicon-search"></span>
                       </div>
                   <input type="text" class="form-control" id="exampleInputAmount" placeholder="待办事项" ng-model="search" v-model="text" @keydown.13="add">
                   </div>
             </div>
            <!--按钮--> 
            <div class="btnbox">
            	     <button @click="changeState('all')" style="margin-left: 0;">全部</button>
                     <button @click="changeState('done')">完成</button>
                     <button @click="changeState('undo')">未完成</button>
            </div>
		</div>
		<div class="left">
	       <ul v-if="state==='all'">
               <li v-for="item in arr" >
                 <span @click="change(item.id,item.state)" :class="{red:item.state===2}">
                           </span>
                      <span> {{item.con}}</span>
                      <span @click="del(item.id,item.state)">删除</span>
               </li>
           </ul>
           <ul v-else-if="state==='done'">
                <li v-for="item in done" >
                   <span @click="change(item.id,item.state)" :class="{red:item.state===2}">
                           </span>
                            <span> {{item.con}}</span>
                            <span @click="del(item.id,item.state)">删除</span>
                </li>
            </ul>
           <ul v-else-if="state==='undo'">
                <li v-for="item in undo" >
                   <span @click="change(item.id,item.state)" :class="{red:item.state===2}">
                           </span>
                            <span> {{item.con}}</span>
                            <span @click="del(item.id,item.state)">删除</span>
                </li>
            </ul>
		</div>
	</div>
	<script>

            new Vue({
                el:".bigbox",
                data:{
                    text:"",
                    arr:[],
                    done:[],
                    undo:[],
                    state:"all"
                },
                methods:{
                    add(){

                        var obj={
                            id:Math.random()+new Date().getTime(),
                            con:this.text,
                            state:1
                        }
                        this.text="";
                        this.arr.push(obj);
                        this.undo.push(obj);
                    },
                    del(id,state){
                        if(state==1){

                            this.arr=this.arr.filter(function(a){
                                return a.id!=id;
                            });

                            this.undo=this.undo.filter(function(a){
                                return a.id!=id;
                            });
                        }else{
                            this.arr=this.arr.filter(function(a){
                                return a.id!=id;
                            });

                            this.done=this.done.filter(function(a){
                                return a.id!=id;
                            });
                        }
                    },

                    change(id,state){
                            if(state==1){

                                var obj=this.arr.filter(function(a){
                                        return a.id==id
                                })[0];

                                obj.state=2;

                                this.done.push(obj);


                                this.undo=this.undo.filter(function(a){

                                    return a.id!=id;
                                })

                            }else if(state==2){
                                var obj=this.arr.filter(function(a){
                                    return a.id==id
                                })[0];

                                obj.state=1;

                                this.done=this.done.filter(function(a){

                                    return a.id!=id;
                                })

                                this.undo.push(obj);

                            }
                    },
                    changeState(str){
                        this.state=str;
                    }
                }
            })
        </script>
</body>
</html>