<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/vue.css">
    <script src="vue.min.js"></script>
</head>
<body>
        <div class="container">
            <nav>to do list</nav>
                <div class="box">
                    <div class="input-group input-group-lg">
                        <div class="input-group-addon glyphicon glyphicon-edit"></div>
                        <input type="text" v-model="text" @keydown.13="add" class="form-control">
                    </div>

                    <ul v-if="state==='all'">
                        <li v-for="item in arr" >
                           <span @click="change(item.id,item.state)" :class="{red:item.state===2}" class="glyphicon glyphicon-ok-circle finish">

                           </span>
                           <span> {{item.con}}</span>
                            <span @click="del(item.id,item.state)" class="glyphicon glyphicon-remove-circle del"></span>
                        </li>

                    </ul>

                    <ul v-else-if="state==='done'">
                        <li v-for="item in done" >
                           <span @click="change(item.id,item.state)" :class="{red:item.state===2}" class="glyphicon glyphicon-ok-circle finish">

                           </span>
                            <span> {{item.con}}</span>
                            <span @click="del(item.id,item.state)" class="glyphicon glyphicon-remove-circle del"></span>
                        </li>

                    </ul>


                    <ul v-else-if="state==='undo'">
                        <li v-for="item in undo" >
                           <span @click="change(item.id,item.state)" :class="{red:item.state===2}" class="glyphicon glyphicon-ok-circle finish">

                           </span>
                            <span> {{item.con}}</span>
                            <span  @click="del(item.id,item.state)" class="glyphicon glyphicon-remove-circle del"></span>
                        </li>

                    </ul>

                    <div class="btn-group" role="group" aria-label="...">
                        <button @click="changeState('all')"class="btn btn-primary">全部</button>
                        <button @click="changeState('done')"class="btn btn-success">完成</button>
                        <button @click="changeState('undo')"class="btn btn-danger">未完成</button>
                    </div>
                </div>
        </div>

        <script>

            new Vue({
                el:".container",
                data:{
                    text:"",
                    arr:[],
                    done:[],
                    undo:[],
                    state:"all"
                },
                methods:{
                    add(){

                        var obj={
                            id:Math.random()+new Date().getTime(),
                            con:this.text,
                            state:1
                        }
                        this.text="";
                        this.arr.push(obj);
                        this.undo.push(obj);
                    },
                    del(id,state){
                        if(state==1){

                            this.arr=this.arr.filter(function(a){
                                return a.id!=id;
                            });

                            this.undo=this.undo.filter(function(a){
                                return a.id!=id;
                            });
                        }else{
                            this.arr=this.arr.filter(function(a){
                                return a.id!=id;
                            });

                            this.done=this.done.filter(function(a){
                                return a.id!=id;
                            });
                        }
                    },

                    change(id,state){
                            if(state==1){

                                var obj=this.arr.filter(function(a){
                                        return a.id==id
                                })[0];

                                obj.state=2;

                                this.done.push(obj);


                                this.undo=this.undo.filter(function(a){

                                    return a.id!=id;
                                })

                            }else if(state==2){
                                var obj=this.arr.filter(function(a){
                                    return a.id==id
                                })[0];

                                obj.state=1;

                                this.done=this.done.filter(function(a){

                                    return a.id!=id;
                                })

                                this.undo.push(obj);

                            }
                    },
                    changeState(str){
                        this.state=str;
                    }
                }
            })
        </script>
</body>
</html>