<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.min.js"></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    div{
        width: 500px;
        height: 600px;
        border: 1px solid #000;
    }
    ul{
        width: 500px;
        height: 200px;
    }
</style>
<body>
<!--<div  @click="add1">-->
    <!--<ul style="background: red;" >-->
       <!--{{num1}}-->
    <!--</ul>-->
    <!--<ul style="background: blue;" @click="math">-->
       <!--计算-->
    <!--</ul>-->
    <!--<ul style="background: yellow;">-->
       <!--{{add2}}-->
    <!--</ul>-->
<!--</div>-->
<div class="mess">
<input v-model="name" @keydown.13="push"  type="text"><br>
    <ul style="background: red;">
        <li v-for="item in arr">
               {{item}}
        </li>
    </ul>
</div>
<script>
//   new Vue({
//       el:"div",
//       data:{
//           message:"张三",
//           num1:0,
//           num2:0
//       },
//       methods:{
//          add1(){
//              ++this.num1
//          },
//          math(){
//              ++this.num2;
//          }
//       },
//       computed:{
//           add2(){
//               return this.num2;
////               console.log("数据绑定之前 正在绑定 挂载到相应的元素上 挂载前 挂载完 数据更新之前 " +
////                   "更新完毕    组件调用 停用   对象销毁之前 对象销毁了")
//           }
//       }
//
//   })
    var obj=new Vue({
        el:".mess",
        data:{
            name:"",
            arr:[]
        },
        methods:{
            push(){
                this.arr.push(this.name);
            }


        }

    })
</script>

</body>
</html>